.comment-input-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    box-sizing: border-box;
    padding: 10px;
    .comment-input-avatar {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }
    form {
        width: 100%;
        .comment-input-textfield {
            border-radius: 20px;
        }

    }
}
