.notification-paper {
    display: flex;
    // flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    .sender-avatar {
        height: 60px;
        width: 60px;
        border-radius: 50%;
        margin-right: 10px;
        object-position: center;
        object-fit: cover;
    }
    .sender-info {
        .sender-link {
            color: black;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 400;
            font-size: 20px;
        }
        .clock-icon {
            transform: translateY(5px);
        }
    }
}
